:root {
  --cor-destaque: #b244f2;
  --cor-contraste: #4C1B59;
  --cor-fundo: rgba(255, 255, 255, 0.795);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(247, 231, 201);
}

/* 
  Conteiner Inicial - apenas o input
*/
.conteinerPricipal {
  max-width: 500px;
  background-color: var(--cor-fundo);
  border-radius: 20px;
  color: black;
  backdrop-filter: blur(3px);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.116);
}

.conteiner-form {
  padding: 20px 40px;
}

.conteiner-form .titulo_e_barra {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

.conteiner-form .titulo {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
  font-weight: 500;
  margin-left: 30px;
}

.conteiner-form .titulo::after {
  content: "";
  background-color: var(--cor-destaque);
  width: 40px;
  position: absolute;
  height: 3px;
  z-index: 100;
  border-radius: 4px;
  border: 1px solid var(--cor-contraste);
  left: -50px;
}

.conteiner-form .barra {
  background-color: var(--cor-destaque);
  width: 5vw;
  height: 4px;
  z-index: 100;
  border-radius: 4px;
  border: 1px solid var(--cor-contraste);
  justify-self: flex-end;
}

.conteiner-form p.mensagem {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.conteiner-form p.mensagem span {
  color: var(--cor-destaque);
  margin-left: 5px;
}

.conteiner-form p.mensagem::before {
  position: absolute;
  content: "";
  background-color: var(--cor-destaque);
  border: 1px solid var(--cor-contraste);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  left: -18px;
}

/* Formulario */
form.form_cidade {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  height: 100px;
  position: relative;
}

.form_cidade input {
  width: 90%;
  padding: 15px 20px;
  height: 100%;
  font-size: 1rem;
  border-radius: 10px 0px 0px 10px;
  transition: all .1s ease;
  border: 1px solid rgba(0, 0, 0, 0.212);
}

.form_cidade input:focus {
  outline: 1px solid var(--cor-destaque);
}

.form_cidade button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  color: white;
  background-color: var(--cor-destaque);
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  transition: all .2s ease;
}

.form_cidade button > span {
  font-size: 2rem;
  font-weight: 300;
}

.form_cidade button:hover {
  background-color: var(--cor-contraste);
}

/* 
  Conteiner informações
*/
.conteiner_informacoes {
  display: none;
  margin-top: 30px;
  padding-top: 30px;
  list-style: none;
  overflow: hidden;
  position: relative;
  color: white;
}

.conteiner_informacoes > video {
  position: absolute;
  z-index: -1;
  width: 500px;
  top: 0px;
  left: 0px;
}

.cidade_e_bandeira {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cidade_e_bandeira h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.cidade_e_bandeira h1,
.cidade_e_bandeira img {
  margin-bottom: 30px;
}

.temperatura_e_tempo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.temperatura_e_tempo p{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.temperatura_e_tempo p:nth-child(1) {
  font-size: 2.7rem;
}

.temperatura_e_tempo p span:nth-child(2) {
  color: var(--cor-destaque);
  font-size: 2rem;
  font-weight: 300;
}

.humidade_e_ventos {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  justify-content: space-evenly;
  padding: 25px 20px;
  margin-top: 30px;
  position: relative;
  border-radius: 0px 0px 20px 20px;
}

.humidade_e_ventos::before {
  content: "";
  width: 1px;
  border-radius: 3px;
  height: 60%;
  position: absolute;
  background-color: var(--cor-destaque);
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.humidade_e_ventos p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
}

.humidade_e_ventos p span.icone {
  font-size: 1.9rem;
  font-weight: 300;
  color: var(--cor-destaque);
}

.ventos {
  margin-left: 30px;
}

.humidade_e_ventos > p:nth-child(1) span:nth-child(1) {
  margin-right: 10px;
}

.humidade_e_ventos p:nth-child(2) span:nth-child(2) {
  margin-left: 10px;
}

/* 
  footer
*/

footer {
  position: absolute;
  bottom: 20px;
}

footer p {
  font-weight: 300;
}

footer p a {
  text-decoration: none;
  color: var(--cor-destaque);
  font-weight: 400;
}

/* 
  Estilos junto com JavaScript
*/

.erroInput {
  border: 1.8px solid rgb(255, 35, 35) !important;
}

.mensagemDeErro {
  color: white;
  position: absolute;
  bottom: -50px;
  background-color: rgb(221, 8, 8);
  padding: 15px;
  font-size: 0.9rem;
  border-radius: 10px;
  animation: aparecer .2s ease;
  width: 410px;
}

.mensagemDeErro::after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  border: 17px solid;
  border-color: rgb(221, 8, 8) transparent transparent;
  border-radius: 0px 0px 100px 100px;
  top: -32px; 
  left: 50px;
  transform: rotate(180deg);
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.conteiner_informacoes.conteinerAparece,
.conteiner_informacoes.conteinerDesaparece{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteiner_informacoes.conteinerAparece {
  animation: conteinerAparece 0.5s ease;
}

.conteiner_informacoes.conteinerDesaparece {
  animation: conteinerDesaparece 0.5s ease forwards;
}

@keyframes conteinerAparece {
  0% {
    height: 0px;
  }

  100% {
    height: 350px;
    padding: 30px 0px 0px 0px !important;
  }
}

@keyframes conteinerDesaparece {
  0% {
    height: 350px;
    padding: 30px;
  }

  50% {
    height: 0px;
    padding: 0px;
  }

  100% {
    height: 0px;
    padding: 0px;
  }
}

/* Icone de carregamento */
.iconeCarregamento {
  display: none;
  justify-content: center;
  margin-bottom: 5px;
}

.iconeLoading {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 4px solid transparent;
  border-right: solid 4px var(--cor-destaque);
  border-bottom: solid 4px var(--cor-destaque);
  border-radius: 50%;
  animation: iconeCarregamento 1s linear infinite;
}
@keyframes iconeCarregamento {
  0% {
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}